*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
app/build/
core/*/build/
feature/*/build/
*.keystore
*.jks
*.p12
*.pfx
*.pkcs12
.env
.env.*
yonte-release.properties
